*{
    margin:0;
    padding:0;
}
.top_nav{
    height:40px;
    width:100%;
    display: flex;
    justify-content: space-between;
    /* gap:30%; */
    border: 1px solid grey;
}
img{
    height:25px;
    width: 25px;
    border-radius: 50%;
}
.top_left{
    display: flex;
    justify-content: space-around;
    gap: 30px;
    justify-content: center;
    align-items: center;
    padding-left: 5%;
}
.top_right{
    display: flex;
}
.top_left .left,.right{
    display: flex;
    gap:1px;
}
.top_right{
    display: flex;
    gap:20px;
    justify-content: center;
    align-items: center;
    padding-right: 5%;
}
.top_left i,span{
    color: orange;

}
button{
    height: 40px;
    width:150px;
    border: none;
    background-color: orange;
    /* color: white; */
    /* border: none;
    font-weight: bold; */
}
.top_right select{
    border:none;
    font-size: large;
    width:55px;
}
.main_nav{
    height: 60px;
    width: 100%;
    display: flex;
    position: relative;
    /* border: 1px solid black; */
    /* top:100px; */
    justify-content: space-between;
}
.main_nav h1{
    font-size:6vh ;
}
.main_nav .left{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 5%;
}
.main_nav .right{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:25px;
    padding-right: 5%;
}
a{
    text-decoration: none;
    color:black;
    font-size: 2.5vh;
}
.main{
    height:100vh;
    width:100%;
    position: relative;
    background-image:url('assets\images\Hotel.jpg') ;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    

}
.main h1{
    font-size:8vh;
    width:30%;
    color:white;
    position: absolute;
    top:30%;
    left:10%;
}
.main p{
    width:30%;
    color: white;
    position: absolute;
    top:50%;
    left:10%;
}
form{
    height:60%;
    width:20%;
    background-color: white;
    position: absolute;
    right:10%;
    top:10%;
    padding:20px;
    /* margin-top: 20%; */
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px;

}
form h2{
    font-family:'Times New Roman', Times, serif;
    align-items: center;
    font-size: xx-large;
}
form input,select,button{
    border: 1px solid grey;
    height:40px;
    width:100%;  
}

form i{
    color: orange;
    position: absolute;
    right:10%;
    top:23%;
}
#i2{
    top:40%;
}
form select{
    font-weight: bolder;
    font-size: medium;
    padding-left: 20px;
}
form button{
    background-color: white;
    border-color: orange;
    color:orange;
    font-weight: bold;
    margin-top: 20px;
}
#a{
    font-size: larger;
    color: white;
    text-decoration:2px underline solid orange ;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bolder;
    width:30%;
    position: absolute;
    top:70%;
    left:10%;
}
